html,
body {
  height: 100%;
}

body {
  background-color: #1A1A1D;
}

.settings-image {
  position: fixed;
  opacity: 0.5;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  background-image: url("/images/settings.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

.content {
  position: relative;
  z-index: 9999;
}

.special-card {
  background-color: rgba(100, 100, 100, 0.5);
  border-radius: 5px;
}