html,
body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

.navbar-text {
  font-size: larger;
}

.navbar {
  height: 40px;
}

.navbar-brand {
  margin-top: -6px;
  padding: 0 5px 0 5px;
}